.Grid3,
.Grid4,
.Grid5,
.Grid6 {
  display: grid;
  width: var(--grid-width);
  height: var(--grid-height);
  grid-gap: var(--grid-gap);
  padding: var(--size-medium);
  grid-template-rows: repeat(4, 1fr);
}

.Grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.Grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.Grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.Grid6 {
  grid-template-columns: repeat(6, 1fr);
}
