.Paragraph {
  margin-bottom: var(--gap-medium);
}
.Paragraph:last-of-type {
  margin-bottom: 0;
}

.Example {
  display: grid;
  justify-content: center;
  grid-gap: var(--gap-small);
  margin-bottom: var(--gap-medium);
  grid-template-columns: repeat(4, fit-content(1ch));
  background-color: var(--color-tone-7);
  border-radius: var(--border-radius);
  padding: var(--gap-medium);
}

.CloseButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--color-tone-4);
  cursor: pointer;
}

.CloseIcon {
  width: 1.25rem;
  height: 1.25rem;
}
