.Keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-medium);
}

.TopRow,
.MiddleRow,
.BottomRow {
  display: inline-grid;
  grid-gap: var(--size-small);
  margin: 0;
}
.TopRow {
  grid-template-columns: repeat(10, 1fr) 3rem;
}
.MiddleRow {
  grid-template-columns: repeat(9, 1fr) 3rem;
  margin: var(--size-small) 0;
}
.BottomRow {
  grid-template-columns: repeat(7, 1fr);
  padding-right: 3rem;
}

.Key {
  min-width: 2rem;
  height: 2rem;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  color: var(--color-text);
  text-transform: capitalize;
  user-select: none;
  border: none;
  background-color: var(--color-tone-4);
  transition: background-color 250ms;
  cursor: pointer;
}
.Key:disabled {
  background-color: var(--color-tone-6);
  color: var(--color-tone-3);
  cursor: default;
}
.Key:hover:not(.Key:disabled) {
  background-color: var(--color-tone-4-hover);
}
.Key:active:not(.Key:disabled) {
  position: relative;
  top: 1px;
}

.KeyCorrect,
.KeyCorrect:disabled {
  background-color: var(--color-correct);
  color: var(--color-text);
}
.KeyCorrect:hover:not(.KeyCorrect:disabled) {
  background-color: var(--color-correct-hover);
}
.KeyIncorrect,
.KeyIncorrect:disabled {
  background-color: var(--color-incorrect);
  color: var(--color-text);
}
.KeyIncorrect:hover:not(.KeyIncorrect:disabled) {
  background-color: var(--color-incorrect-hover);
}
.KeyPresent,
.KeyPresent:disabled {
  background-color: var(--color-present);
  color: var(--color-text);
}
.KeyPresent:hover:not(.KeyPresent:disabled) {
  background-color: var(--color-present-hover);
}

.DeleteIcon,
.EnterIcon {
  width: var(--size-large);
  height: var(--size-large);
}
