.Keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-medium);
  user-select: none;
}

.TopRow,
.MiddleRow,
.BottomRow {
  display: inline-grid;
  grid-gap: var(--size-tiny);
  margin: 0;
}
.TopRow {
  grid-template-columns: repeat(10, 1fr);
}
.MiddleRow {
  grid-template-columns: repeat(9, 1fr);
  margin: var(--size-tiny) 0;
}
.BottomRow {
  grid-template-columns: 3.5rem repeat(7, 1fr) 3.5rem;
}

.Key {
  min-width: 2.5rem;
  height: 2.5rem;
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  color: var(--color-text);
  text-transform: capitalize;
  user-select: none;
  border: none;
  background-color: var(--color-gray-shade-40);
  transition: background-color 150ms;
  cursor: pointer;
}
.Key:disabled {
  background-color: var(--color-gray-shade-20);
  color: var(--color-gray-shade-50);
  cursor: default;
}
.Key:hover:not(.Key:disabled) {
  background-color: var(--color-gray-shade-50);
}
.Key:active:not(.Key:disabled) {
  background-color: var(--color-gray-shade-40);
  position: relative;
  top: 1px;
}

.KeyCorrect,
.KeyCorrect:disabled {
  background-color: var(--color-correct);
  color: var(--color-text);
}
.KeyCorrect:hover:not(.KeyCorrect:disabled) {
  background-color: var(--color-correct-tint);
}
.KeyCorrect:active:not(.Key:disabled) {
  background-color: var(--color-correct);
}

.KeyIncorrect,
.KeyIncorrect:disabled {
  background-color: var(--color-incorrect);
  color: var(--color-text);
}
.KeyIncorrect:hover:not(.KeyIncorrect:disabled) {
  background-color: var(--color-incorrect-tint);
}
.KeyIncorrect:active:not(.Key:disabled) {
  background-color: var(--color-incorrect);
}

.KeyPresent,
.KeyPresent:disabled {
  background-color: var(--color-present);
  color: var(--color-text);
}
.KeyPresent:hover:not(.KeyPresent:disabled) {
  background-color: var(--color-present-tint);
}
.KeyPresent:active:not(.Key:disabled) {
  background-color: var(--color-present);
}

.SpecialKey {
}

.SpecialKeyLabel {
}

.SpecialKeyIcon {
  width: var(--size-large);
  height: var(--size-large);
}
