.Background {
  position: absolute;
  width: 100%;
  max-width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.Dialog {
  position: relative;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  overflow: auto;
}
