.Tile {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  border: 2px solid var(--color-tone-5);
  text-transform: uppercase;
  background-color: var(--color-pending);
}

.Empty,
.Correct,
.Incorrect,
.Pending,
.Present {
  color: var(--color-text);
  font-weight: bold;
  user-select: none;

  animation-duration: var(--animation-duration);
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.Correct {
  animation-name: correct;
}
.Incorrect {
  animation-name: incorrect;
}
.Pending {
  border-color: var(--color-tone-3);
}
.Present {
  animation-name: present;
}

@keyframes incorrect {
  0% {
    background-color: var(--color-pending);
    color: transparent;
    transform: rotateX(0deg);
  }
  50% {
    background-color: var(--color-pending);
    color: transparent;
    border-width: 2px;
    transform: rotateX(90deg);
  }
  51% {
    border-width: 0px;
    background-color: var(--color-incorrect);
    color: var(--color-text);
  }
  100% {
    border-width: 0px;
    background-color: var(--color-incorrect);
    color: var(--color-text);
    transform: rotateX(0deg);
  }
}

@keyframes correct {
  0% {
    background-color: var(--color-pending);
    color: transparent;
    transform: rotateX(0deg);
  }
  50% {
    background-color: var(--color-pending);
    border-width: 2px;
    color: transparent;
    transform: rotateX(90deg);
  }
  51% {
    border-width: 0px;
    background-color: var(--color-correct);
    color: var(--color-text);
  }
  100% {
    background-color: var(--color-correct);
    border-width: 0px;
    color: var(--color-text);
    transform: rotateX(0deg);
  }
}

@keyframes present {
  0% {
    background-color: var(--color-pending);
    color: transparent;
    transform: rotateX(0deg);
  }
  50% {
    background-color: var(--color-pending);
    border-width: 2px;
    color: transparent;
    transform: rotateX(90deg);
  }
  51% {
    border-width: 0px;
    background-color: var(--color-present);
    color: var(--color-text);
  }
  100% {
    background-color: var(--color-present);
    border-width: 0px;
    color: var(--color-text);
    transform: rotateX(0deg);
  }
}
