html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 520px), (max-height: 425px) {
  html {
    font-size: 14px;
  }
}

:root {
  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;

  --color-brown: #915f38;
  --color-text: #ffffff;

  --color-pending: #121213;
  --color-incorrect: #3a3a3c;
  --color-correct: #538d4e;
  --color-present: #b59f3b;

  --gap-small: 0.25rem;
  --gap-medium: 0.5rem;
  --gap-large: 1rem;

  --border-radius: 0.25rem;
}
