.Home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  background-color: var(--color-tone-7);
}

.Header {
  flex: 0 0 auto;
  font-size: 1.5rem;
  color: var(--color-brown);
  text-align: center;
  padding: var(--gap-medium) 0;
  border-bottom: 1px solid var(--color-tone-4);
}

.Turd {
  font-weight: bold;
  color: var(--color-text);
}

.Main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}

.Footer {
  flex: 0 0 auto;
}
