.Home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  background-color: var(--color-tone-7);
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  color: var(--color-brown);
  text-align: center;
  padding: var(--size-medium) var(--size-large);
  border-bottom: 1px solid var(--color-tone-4);
}

.HelpButton {
  flex: 0 0 auto;
  background-color: transparent;
  border: none;
  color: var(--color-text);
  display: flex;
  padding: 0;
  cursor: pointer;
}

.TitleLink {
  flex: 1 1 auto;
  text-align: center;
}

.GitHubLink {
  flex: 0 0 auto;
}

.HelpIcon,
.GitHubIcon {
  color: var(--color-text);
}
.HelpIcon {
  width: 1.25rem;
  height: 1.25rem;
}
.GitHubIcon {
  width: var(--size-large);
  height: var(--size-large);
}

.Turd {
  font-weight: bold;
  color: var(--color-text);
}

.Layout {
  display: flex;
  flex-direction: var(--game-layout-direction);
  align-items: center;
  flex: 1 1 auto;
  overflow: auto;
}

.Main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}

.Footer {
  flex: 0 0 auto;
}
