.Home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  background-color: var(--color-gray-shade-10);
}

.Header {
  display: grid;
  grid-template-columns: repeat(3, 1.5rem) auto repeat(3, 1.5rem);
  align-items: center;
  grid-gap: var(--size-small);

  flex: 0 0 auto;

  font-size: var(--font-size-5);
  color: var(--color-brown);
  text-align: center;
  padding: var(--size-medium) var(--size-large);
  border-bottom: 1px solid var(--color-gray-shade-30);
}

.Button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  display: flex;
  cursor: pointer;
}
.Button:disabled {
  opacity: 0.5;
  cursor: default;
}

.TitleLink {
  text-align: center;
}

.GitHubLink {
}

.Icon,
.GitHubIcon {
  color: var(--color-text);
}
.Icon {
  width: 1.25rem;
  height: 1.25rem;
}
.GitHubIcon {
  width: var(--size-large);
  height: var(--size-large);
}

.Turd {
  font-weight: bold;
  color: var(--color-text);
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 auto;
  overflow: auto;
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
  .Layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
}

.Main {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.Footer {
}
